.App {
  text-align: left;
}

.header {
  background-color: #ffffff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-primary-green);
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: var(--color-secondary-dark);
  font-weight: bold;
}

.footer {
  background-color: var(--color-primary-green);
  color: #ffffff;
  padding: 40px;
  text-align: center;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.footer-list a {
  color: #ffffff;
  text-decoration: none;
}
