.App {
  text-align: left;
}

.header {
  background-color: #ffffff;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.logo {
  color: var(--color-primary-green);
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
